<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
    <h1>The list of all system Users:</h1>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>UserName</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="credentials : ${allUsersCredentials}">
                <td th:text="${credentials.userName}">UserName</td>
                <td th:text="${credentials.user.firstName}">Nome</td>
                <td th:text="${credentials.user.lastName}">Cognome</td>
                <td>
                    <form th:action="@{/admin/users/{credentials}/delete(credentials=${credentials.userName})}"
                          method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/admin/users/{credentials}/projects(credentials=${credentials.userName})}"
                          method="get">
                        <button type="submit">Go to his Projects</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>