<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Create new Tag</title>
</head>
<body>
<div class="container">

    <div class="page-header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a th:href="@{|/projects/${projectId}|}">Project</a></li>
                <li role="presentation" class="active"><a th:href="@{/home}">Homepage</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Taskmanager application</h3>
    </div>

    <div class="jumbotron">
        <h2>Add a Comment to the Task</h2>

        <form th:action="@{|/projects/${projectId}/tasks/${taskId}/comments/add|}"
              th:object="${commentForm}"
              method="post">

            <div class="form-group">
                <input class="form-control" type="text" id="contentInput" placeholder="Enter your Comment" required
                               th:field="*{content}">

            </div>

            <button type="submit" class="btn btn-primary">Post this Comment</button>

        </form>
    </div>

</div>
</body>
</html>